In [1]:
# Import dependencies
import pandas as pd
# For data base creation
from sqlalchemy import create_engine
# from config import db_password
import os
import os.path, sys
import glob

In [2]:
# Create a function to clean the tournament data
# assign path
path, dirs, files = next(os.walk("Resources/Data/1_tournaments/"))
file_count = len(files)
# create empty list
dataframes_list = []
 
# append datasets to the list and make sure there is no header
for i in range(file_count):
    temp_df = pd.read_csv("Resources/Data/1_tournaments/"+files[i], encoding="latin1", header=None)
    dataframes_list.append(temp_df)
    
# combine the list of dataframes into one df
df = pd.concat(dataframes_list)

# Read in the header provided in a separate csv
header_df = pd.read_csv("Resources/Data/header/tournament/tournaments_headers.csv")

# Droping the unecessary columns that are not needed and reorganizing them to match the column
# order in header_df
df.drop(columns=[1,3,5,8,9,10,12,15,16,17,18,19,20,21,24,25,26,27,28,29,30], inplace=True)
df = df.reindex(columns=[0,2,4,6,7,11,13,14,23,22])

# Modify the list of columns to drop
columns_to_drop = ['tourney_doubles_draw', 'tourney_url_suffix', 'singles_winner_url',
                 'singles_winner_player_slug',
                 'doubles_winner_1_name',
                 'doubles_winner_1_url',
                 'doubles_winner_1_player_slug',
                 'doubles_winner_1_player_id',
                 'doubles_winner_2_name',
                 'doubles_winner_2_url',
                 'doubles_winner_2_player_slug', 
                 'doubles_winner_2_player_id',
                 'tourney_fin_commit',
                 'tourney_order',
                 'tourney_slug']
columns_to_drop = [col for col in columns_to_drop if col in header_df.columns]

# Drop the columns
header_df = header_df.drop(columns=columns_to_drop)

# replacing the column names in df with the columns in header_df
df.columns = header_df.columns
print(len(df))
df.head()

4577

,tourney_year,tourney_name,tourney_id,tourney_location,tourney_dates,tourney_singles_draw,tourney_conditions,tourney_surface,singles_winner_name,singles_winner_player_id
0,2010-339,ATP 250,339.0,Brisbane,2010.01.03,32.0,Outdoor,Hard,Jeremy Chardy,r485
1,2010-451,ATP 250,451.0,Doha,2010.01.04,32.0,Outdoor,Hard,Guillermo Garcia-Lopez,d402
2,2010-891,ATP 250,891.0,Chennai,2010.01.04,32.0,Outdoor,Hard,Marcel Granollers,c977
3,2010-338,ATP 250,338.0,Sydney,2010.01.11,28.0,Outdoor,Hard,Daniel Nestor,b837
4,2010-301,ATP 250,301.0,Auckland,2010.01.11,28.0,Outdoor,Hard,Marcus Daniell,i186